/*******NORMALIZATION********/
* {
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.boldText {
  font-weight: 600 !important;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  color: #D91E81;
  font-weight: 300;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #56666E;
  margin: 0;
}
h4 {
  font-family: 'Ubuntu', sans-serif;
  color: #463469;
}
body {
  margin: 0;
}
p {
  font-size: 18px;
  color: #56666E;
}
section {
  margin-bottom: 30px;
}

a {
  color: #D91E81;
}

/*******GENERIC STYLES*******/
.centerText {
  text-align: center;
}


/*****HERO*******/
.fullWidthContent {
  margin: 0;
  padding: 0;
  .hero {
    background-image: url('../images/Banner.png');
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/*******MAINCONTENT******/
.mainContent {
  &.topBar {
    box-sizing: border-box;
    padding: 2% 0;
    display: grid;
    grid-template: auto / 1fr 1fr;
    align-items: center;
    .topBarContent {
      text-align: right;
      a {
        font-weight: 400;
        text-decoration: none;
        box-sizing: border-box;
        padding: 0 2%;
        color: #56666E;
        &:nth-of-type(even){
          border-left: 1px solid #56666E;
          border-right: 1px solid #56666E;
        }
      }
    }
  }
  max-width: 1366px;
  width: 90%;
  margin: auto;
  .contentBox {
    section {
      #hiddenText {
        opacity: 0;
        height: 0;
        margin: 0;
        transition: .2s all ease-in-out;
      }
      .readMoreButton {
        display: block;
        margin: 10px auto 0;
        width: 100px;
        text-decoration: none;
        padding: 1%;
        position: relative;
      }
    }
    /*******FEATURED*******/
    section.featuredBox {
      border: 1px solid #ddd;
      display: grid;
      grid-template-areas:
              "image content content content content cta cta cta cta" "meta meta meta meta meta meta meta meta meta";
      i {
        margin-right: 10px;
      }
      .featuredImage {
        grid-area: image;
        img {
          width: 100%;
        }
      }
      .featuredContent {
        grid-area: content;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0% 30px;
        align-self: center;
        h4 {
          margin: 0;
        }
        .priceList {
          display: grid;
          grid-template-rows: auto;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 10px 10px;
          margin-top: 30px;
          div {
            border-left: 1px solid #ddd;
            padding-left: 20px;
            p {
              margin: 0;
              &.subPrice {
                font-size: 14px;
                span {
                  font-weight: 600;
                }
              }
            }
            span {
              &.price {
                color: #D91E81;
                font-weight: 800;
                font-size: 32px;
              }
            }
          }
        }
      }
      .cta {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          align-items: flex-end;
          padding: 15% 0;
          margin-right: 30px;
          grid-area: cta;
        a {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          background-color: #27C4B8;
          color: white;
          padding: 15px;
          text-decoration: none;
          font-size: 20px;
          display: block;
          width: 90%;
          text-align: center;
        }
      }
      .metaInfo {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 6fr;
        align-items: center;
        justify-content: center;
        background-color: #DDDDDD;
        grid-area: meta;
        color: #56666E;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 2%;
        .logo {
          img {
            //display: block;
            //margin: auto;
          }
        }
        .ratingBox {
          max-width: 100px;
          -webkit-box-sizing: content-box;
          -moz-box-sizing: content-box;
          box-sizing: content-box;
          padding: 1px 5px 4px;
          background-color: white;
          margin-right: 20px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          i {
            margin: 0;
            color: #27C4B8;
            font-size:10px;
          }
        }
        .metaDetails {
          p {
            margin: 0;
          }
          & > div {
            margin-bottom: 15px;
            span.metaTitle {
              font-size: 20px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: #ddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0;
  margin-top: 150px;
  .footerSocial {
    display: block;
    margin-bottom: 20px;
    i {
      font-size: 30px;
      color: #56666E;
    }
  }
  .copyRight {
    margin-top: 20px;
    p {
      margin: 0;
    }
  }
}

@media all and (max-width: 1173px){
  .mainContent {
    .contentBox {
      .featuredBox {
        grid-row-gap: 15px;
        grid-template-areas: "image""content""cta""meta" !important;
        .cta {
          padding: 5% !important;
          a {
            width: 100% !important;
          }
        }
        .featuredContent {
          .priceList {
            text-align: center !important;
            & > div {
              padding: 10px 0 !important;
              border-width: 1px;
              border-color: #ddd;
              border-style: solid;
              background-color: #ededed;
            }
          }
        }
        .metaInfo {
          grid-template-columns: 1fr 3fr !important;
          grid-column-gap: 10px;
          .metaDetails {
            & > div {
              .metaTitle {
                i {
                }
                span {
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 859px){
  .mainContent {
    .contentBox {
      .featuredBox {
        .cta {
          a {
          }
        }
        .featuredContent {
          .priceList {
            & > div {
            }
          }
        }
        .metaInfo {
          grid-column-gap: 10%;
          .metaDetails {
            & > div {
              display: grid;
              grid-row-gap: 15px;
              .ratingBox {

              }
              .metaTitle {
                display: grid;
                grid-template-areas: "icon icontitle icontitle icontitle" "none icontitle icontitle icontitle";
                grid-column-gap: 10px;
                i {
                  grid-area: icon;
                  margin: 0;
                }
                span {
                  grid-area: icontitle;
                  line-height: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}