/*******NORMALIZATION********/
/*******GENERIC STYLES*******/
.centerText {
  text-align: center; }

/*****HERO*******/
.hero {
  background-image: url("https://placehold.it/1920x300");
  min-height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

/*******MAINCONTENT******/
.mainContent {
  max-width: 1920px;
  width: 80%;
  margin: auto; }

.mainContent .contentBox {
  /*******FEATURED*******/ }

.mainContent .contentBox section .readMoreButton {
  display: block;
  margin: auto;
  width: 100px;
  text-decoration: none; }

.mainContent .contentBox section.featuredBox {
  background: #ededed;
  display: grid;
  grid-template: auto / 1fr 2fr; }

.mainContent .contentBox section.featuredBox .featuredImage {
  background-image: url("https://placehold.it/400x300");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover; }

.mainContent .contentBox section.featuredBox .featuredContent {
  display: grid;
  grid-template: auto / 1fr;
  grid-gap: 10px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2% 2%; }

.mainContent .contentBox section.featuredBox .featuredContent .priceList {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px 10px; }

.mainContent .contentBox section.featuredBox .featuredContent .priceList div {
  background-color: #dcdcdc;
  -webkit-box-shadow: 0px 3px 10px -2px black;
  -moz-box-shadow: 0px 3px 10px -2px black;
  box-shadow: 0px 3px 10px -2px black; }

.mainContent .contentBox section.featuredBox .featuredContent .priceList div span, .mainContent .contentBox section.featuredBox .featuredContent .priceList div a {
  display: block; }

.mainContent .contentBox section.featuredBox .featuredContent .metaInfo {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  background-color: white; }

.mainContent .contentBox section.featuredBox .featuredContent .metaInfo .logo {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  align-items: center;
  justify-content: center; }

.mainContent .contentBox section.featuredBox .featuredContent .metaInfo .logo img {
  display: block;
  margin: auto; }

.mainContent .contentBox section.featuredBox .featuredContent .metaInfo .ratingBox {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr; }

.mainContent .contentBox section.featuredBox .featuredContent .metaInfo .ratingBox span {
  display: block; }

.mainContent .contentBox section.featuredBox .featuredContent .metaInfo .ratingBox ul {
  align-items: center;
  justify-content: center;
  max-width: 100px;
  width: 100%;
  background: #dcdcdc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: grid;
  grid-template: auto/repeat(5, 1fr);
  margin: auto; }

.mainContent .contentBox section.featuredBox .featuredContent .metaInfo .ratingBox ul li {
  color: white; }
